.container{
    margin: 0% 10%;
    min-height: calc(100vh );
}
span {
    color: rgb(232, 31, 24);
}

form  {
    position: relative;
    background-color: #bbb2b2;
    border: 2px solid #090909;
    padding: 5% 5%;
    min-height: calc(77vh - 8px);
}
.titleWork{
    width: 40%;
 
}
.textWork{
    position: relative;
}

textarea{
    min-height: calc(50vh - 10px);
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
    border-width: 6px;
    border-style: double;
    border-color: rgb(169, 170, 172);
    border-radius: 10px;
    position: absolute;
    font-size: 15px;

} 
span.errors{
    position: absolute;
    top: 345px;
}

label {
    font-weight: bold;
    font-size: 25px;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    border-width: 6px;
    border-style: double;
    font-size: 15px;
    height: 25px;
    border-radius: 30px;
}

button {
    position: absolute;
    right: 5%;
    bottom: 7%;
    width: 25%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(232, 31, 24);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s linear;
}

button:hover {
    background-color: rgb(42, 215, 15);
}