.image{
    position: relative;
    background-image: url(./../../assets/foto/Background.jpg);
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
span {
    color: rgb(232, 31, 24);
}
.container {
    width:20%;
}

form  {
    align-items: center;
    background-color: #bbb2b2;
    border: 1px solid #090909;
    padding-left: 30px;
    padding-right: 30px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    border: 1px solid #ccc;
    border-width: 6px;
    border-style: double;
    font-size: 15px;
    height: 25px;
    border-radius: 30px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: rgb(232, 31, 24);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s linear;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(42, 215, 15);
}