<div class = 'header'> 
   <div>
    <button (click)="toAuth()"> ВОЙТИ </button>
  </div>
</div>
<div class="container">
  <div class="history-holder">
    <div class="history-info">
      <div class="history-text_1">
          <h1>Наша история</h1>
            Московский университет по праву считается старейшим российским университетом.
            Он основан в 1755 году. Учреждение университета в Москве стало возможным 
            благодаря деятельности выдающегося ученого-энциклопедиста,
            первого русского академика Михаила Васильевича Ломоносова (1711-1765).
        </div>
      </div>
      <div class="images_1">
    <div class="history-images_1"> </div>
  </div>
  </div>
</div>
<div class="black-block">
  <div class="container">
    <div class="history-text_2">
      А.С. Пушкин справедливо писал о титане русской и мировой науки XVIII столетия:
       «Соединяя необыкновенную силу воли с необыкновенною силою понятия, Ломоносов 
       обнял все отрасли просвещения. Жажда науки была сильнейшею страстию сей души,
       исполненной страстей. Историк, ритор, механик, химик, минералог, художник и стихотворец,
       он все испытал и все проник...» В деятельности М.В. Ломоносова отразились вся мощь,
       красота и жизнеспособность российской науки, вышедшей на передовые рубежи мирового научного знания,
       успехи страны, сумевшей после преобразований Петра I значительно сократить отставание от ведущих
       держав мира и войти в их число. М.В. Ломоносов придавал огромное значение созданию системы
       высшего образования в России. Еще в 1724 году при Петербургской академии наук, основанной
       Петром I, были учреждены университет и гимназия для подготовки в России научных кадров. 
       Но академические гимназия и университет с этой задачей не справились. Поэтому М.В.
       Ломоносов неоднократно ставил вопрос об открытии университета в Москве. Его предложения, 
       сформулированные в письме к И.И. Шувалову, легли в основу проекта Московского университета.
       И.И.  Шувалов, фаворит императрицы Елизаветы Петровны, покровительствовал развитию русской науки
       и культуры, помогал многим начинаниям М.В. Ломоносова.
    </div>
  </div>
</div>
<div class="container">
  <div class="history-holder">
    <div class="history-images_2"> </div>
    <div class="history-info">
      <div class="history-text_3">
          <h1>Ломоносовские чтения</h1>
          После ознакомления с представленным И.И. Шуваловым проектом нового учебного заведения Елизавета Петровна
          подписала 12 (25 по новому стилю) января 1755 года (в День св. Татьяны по православному церковному календарю)
          указ об основании Московского университета. Церемония торжественного открытия занятий в университете
          состоялась в день празднования годовщины коронации Елизаветы Петровны 26 апреля (7 мая) 1755 года.
          С тех пор эти дни традиционно отмечаются в университете студенческими празднованиями,
          к ним приурочены ежегодная научная конференция «Ломоносовские чтения» и дни научного творчества студентов.
        </div>
      </div>
  </div>
</div>
<div class="black-block">
  <div class="container">
    <div class="history-text_2">
      В соответствии с планом М.В. Ломоносова в Московском университете были образованы 3 факультета:
       философский, юридический и медицинский. Свое обучение все студенты начинали на философском факультете,
      где получали фундаментальную подготовку по естественным и гуманитарным наукам. Образование можно было
       продолжить, специализируясь на юридическом, медицинском или на том же философском факультете.
      В отличие от университетов Европы, в Московском университете не было богословского факультета,
       что объясняется наличием в России специальной системы образования для подготовки служителей
       православной церкви. Профессора читали лекции не только на общепризнанном тогда языке науки
       — латыни, но и на русском языке.
    </div>
  </div>
</div>
<div class="container">
  <div class="history-holder">
    <div class="history-info">
      <div class="history-text_4">
          Московский университет выделялся демократическим составом студентов и профессоров.
           Это во многом определило широкое распространение среди учащихся и преподавателей
            передовых научных и общественных идей. Уже в преамбуле указа об учреждении университета
             в Москве отмечалось, что он создан «для генерального обучения разночинцев».
          В университет могли поступать выходцы из различных сословий, за исключением крепостных крестьян.
           М.В. Ломоносов указал на пример западноевропейских университетов, где было покончено с принципом 
           сословности: «В университете тот студент почтеннее, кто больше научился; а чей он сын, в том нет нужды».
             За вторую половину XVIII века из 26 русских профессоров, которые вели преподавание, 
            только трое были из дворян. Разночинцы составляли в XVIII веке и большинство учащихся.
            Наиболее способных студентов для продолжения образования посылали в зарубежные университеты,
             укрепляя контакты и связи с мировой наукой.
        </div>
      </div>
    <div class="history-images_3"> </div>
  </div>
</div>